# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
venv/

# PyCharm
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries

# Environment files
.env

# Logs
*.log
